# Specify API keys for the Frankfurter API to fetch from certain data sources,
# such as the US Federal Reserve, the Turkish Central Bank and so on. If not set,
# the data from the European Central Bank will be used.

# Make a copy of this file to local_api.env and then see the documentation at
# https://github.com/lineofflight/frankfurter to set the applicable API keys in the
# local_api.env file.
